/* mobile queries */

@media screen and (max-width: 768px) {
	.container {
		display: block;
	}
	div > button, div > form, p, #clearList {
		padding: 0;
		width: 80% !important;
		margin: 0 10% 0 10% !important;
	}
	#clearList {
		margin: auto;
	}

}

/* general style */

body {
	height: 100%;
	width: 100%;
	padding: 0 !important;
	margin: 0;
	font-size: 16px;
	background: rgba(200, 200, 155, 0.5);
	position: absolute;
	margin-bottom: 50px;
}

.panel {

    display: block;
    overflow: hidden;
}

.panel .active {
	display: block;
}
.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: stretch;
	flex-wrap: wrap;
}

.nav > button {
	width: 25%;
	text-transform: uppercase;
	margin-top: 0;
}
button {
	background-color: black;
	border-bottom: 1px solid white;
	color: white;
	cursor: pointer;
	transition: 1s;
	align-content: space-between;
	height: 50px;
	width: 200px;
	margin-top: 30px;
}
button:hover {
	background-color: silver;
	border: 0;
	color: black;
	cursor: pointer;
	transition: 0.5s;
}

.container .panel {
	text-align: center;
	display: none;
}

.ctaButton {
	background-color: red;
	font-weight: bold;
	font-size: 1.2rem;
	transition: 0.5s;
	font-size: 1.2rem;
	display: block;
	margin: auto;
	margin-top: 15px;
}
h1 {
	text-align: center;
	text-indent: 5px;
	margin: 15px 0 15px 0;
	padding: 5px 0 5px 0;
}

input {
	background-color: black;
	color: white;
	transition: 0.5s;
	font-size: 1.2rem;
	display: block;
	margin: auto;
	margin-top: 15px;
}

input:focus {
	background-color: silver;
	color: black;
	box-shadow: 2px 4px rgba(0,0,0,0.2)
	;
}

.title {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

p {
	text-align: left;
	padding-left: 10px;
	background-color: silver;
	line-height: 20px;
	margin: 10px 30px 10px 30px;
}

img {
	height: 50px;
	width: auto;
	padding: 20px;
}

#removeCommand {
	margin-bottom: 30px;
}

h1:not(span) {
	display: none;
}

.h1-size h1 {
	display: none;
}

.h1-size h1 span {
	display: block;
}